<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
  <add name="conn" connectionString="Data Source=localhost;port=3306;Initial Catalog=bluesoft;User Id=root;password=;SslMode=none;" providerName="MySql.Data.MySqlClient"/>
   </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>